<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>icon_geometry</key>
	<string>Geometry</string>
	<key>icon_point</key>
	<string>Point</string>
	<key>icon_linestring</key>
	<string>Linestring</string>
	<key>icon_polygon</key>
	<string>Polygon</string>
	<key>icon_tiles</key>
	<string>Tiles</string>
	<key>icon_paint</key>
	<string>paint</string>
	<key>icon_up</key>
	<string>Up</string>
	<key>icon_down</key>
	<string>Down</string>
	<key>ok_label</key>
	<string>OK</string>
	<key>cancel_label</key>
	<string>Cancel</string>
	<key>stop_label</key>
	<string>Stop</string>
	<key>load_tiles_min_zoom_default</key>
	<integer>0</integer>
	<key>load_tiles_max_zoom_default</key>
	<integer>21</integer>
	<key>load_tiles_default_min_zoom_default</key>
	<integer>0</integer>
	<key>load_tiles_default_max_zoom_default</key>
	<integer>5</integer>
	<key>load_tiles_compress_quality_default</key>
	<integer>100</integer>
	<key>load_tiles_compress_scale_default</key>
	<integer>100</integer>
	<key>feature_tiles_index_validation</key>
	<string>√ Table is indexed</string>
	<key>feature_tiles_index_warning</key>
	<string>WARNING: Table is not indexed!</string>
	<key>feature_tiles_name_suffix</key>
	<string>_tiles</string>
	<key>feature_overlay_tiles_name_suffix</key>
	<string>_overlay</string>
	<key>feature_tiles_draw_point_color_label</key>
	<string>Point Color</string>
	<key>feature_tiles_draw_line_color_label</key>
	<string>Line Color</string>
	<key>feature_tiles_draw_polygon_color_label</key>
	<string>Polygon Color</string>
	<key>feature_tiles_draw_polygon_fill_color_label</key>
	<string>Polygon Fill Color</string>
	<key>feature_tiles_draw_colors_default_point</key>
	<string>Black</string>
	<key>feature_tiles_draw_colors_default_line</key>
	<string>Black</string>
	<key>feature_tiles_draw_colors_default_polygon</key>
	<string>Black</string>
	<key>feature_tiles_draw_colors_default_polygon_fill</key>
	<string>Black</string>
	<key>feature_tiles_draw_colors</key>
	<array>
		<dict>
			<key>name</key>
			<string>Black</string>
			<key>white</key>
			<real>0</real>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Blue</string>
			<key>red</key>
			<real>0</real>
			<key>green</key>
			<real>0</real>
			<key>blue</key>
			<real>1</real>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Brown</string>
			<key>red</key>
			<real>0.6</real>
			<key>green</key>
			<real>0.4</real>
			<key>blue</key>
			<real>0.2</real>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Cyan</string>
			<key>red</key>
			<real>0</real>
			<key>green</key>
			<real>1</real>
			<key>blue</key>
			<real>1</real>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Dark Gray</string>
			<key>white</key>
			<real>0.33333333333333</real>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Gray</string>
			<key>white</key>
			<real>0.5</real>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Green</string>
			<key>red</key>
			<real>0</real>
			<key>green</key>
			<real>1</real>
			<key>blue</key>
			<real>0</real>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Light Gray</string>
			<key>white</key>
			<real>0.66666666666666</real>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Magenta</string>
			<key>red</key>
			<real>1</real>
			<key>green</key>
			<real>0</real>
			<key>blue</key>
			<real>1</real>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Orange</string>
			<key>red</key>
			<real>1</real>
			<key>green</key>
			<real>0.5</real>
			<key>blue</key>
			<real>0</real>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Purple</string>
			<key>red</key>
			<real>0.5</real>
			<key>green</key>
			<real>0</real>
			<key>blue</key>
			<real>0.5</real>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Red</string>
			<key>red</key>
			<real>1</real>
			<key>green</key>
			<real>0</real>
			<key>blue</key>
			<real>0</real>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<dict>
			<key>name</key>
			<string>White</string>
			<key>white</key>
			<real>1</real>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Yellow</string>
			<key>red</key>
			<real>1</real>
			<key>green</key>
			<real>1</real>
			<key>blue</key>
			<real>0</real>
			<key>alpha</key>
			<real>1</real>
		</dict>
	</array>
	<key>feature_tiles_overlay_max_points_per_tile_default</key>
	<integer>1000</integer>
	<key>feature_tiles_overlay_max_features_per_tile_default</key>
	<integer>50</integer>
	<key>feature_tiles_load_max_features_per_tile_default</key>
	<integer>-1</integer>
	<key>map_create_tiles_existing_geopackage_dialog_label</key>
	<string>GeoPackages</string>
	<key>map_create_tiles_dialog_label</key>
	<string>Download Tiles</string>
	<key>edit_feature_overlay_index_validation</key>
	<string>√ Table is indexed</string>
	<key>edit_feature_overlay_index_warning</key>
	<string>WARNING: Table is not indexed!</string>
	<key>bounding_box_preloaded_label</key>
	<string>Preloaded Locations</string>
	<key>bounding_box_default_min_latitude</key>
	<string>-90.0</string>
	<key>bounding_box_default_max_latitude</key>
	<string>90.0</string>
	<key>bounding_box_default_min_longitude</key>
	<string>-180.0</string>
	<key>bounding_box_default_max_longitude</key>
	<string>180.0</string>
	<key>bounding_box_draw_color</key>
	<dict>
		<key>white</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>bounding_box_draw_fill</key>
	<true/>
	<key>bounding_box_draw_fill_color</key>
	<dict>
		<key>white</key>
		<string>0</string>
		<key>alpha</key>
		<string>.2</string>
	</dict>
	<key>bounding_box_draw_line_width</key>
	<integer>1</integer>
	<key>default_polyline_color</key>
	<dict>
		<key>white</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>default_polyline_line_width</key>
	<integer>1</integer>
	<key>default_polygon_color</key>
	<dict>
		<key>white</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>default_polygon_fill</key>
	<false/>
	<key>default_polygon_fill_color</key>
	<dict>
		<key>white</key>
		<string>0</string>
		<key>alpha</key>
		<string>.125</string>
	</dict>
	<key>default_polygon_line_width</key>
	<integer>1</integer>
	<key>edit_polyline_color</key>
	<dict>
		<key>red</key>
		<real>0</real>
		<key>green</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>edit_polyline_line_width</key>
	<integer>1</integer>
	<key>edit_polygon_color</key>
	<dict>
		<key>red</key>
		<real>0</real>
		<key>green</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>edit_polygon_fill</key>
	<true/>
	<key>edit_polygon_fill_color</key>
	<dict>
		<key>red</key>
		<real>0</real>
		<key>green</key>
		<real>1</real>
		<key>blue</key>
		<real>0</real>
		<key>alpha</key>
		<real>0.125</real>
	</dict>
	<key>edit_polygon_line_width</key>
	<integer>1</integer>
	<key>draw_polyline_color</key>
	<dict>
		<key>red</key>
		<real>1</real>
		<key>green</key>
		<real>0</real>
		<key>blue</key>
		<real>0</real>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>draw_polyline_line_width</key>
	<integer>1</integer>
	<key>draw_polygon_color</key>
	<dict>
		<key>red</key>
		<real>1</real>
		<key>green</key>
		<real>0</real>
		<key>blue</key>
		<real>0</real>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>draw_polygon_fill</key>
	<true/>
	<key>draw_polygon_fill_color</key>
	<dict>
		<key>red</key>
		<real>1</real>
		<key>green</key>
		<real>0</real>
		<key>blue</key>
		<real>0</real>
		<key>alpha</key>
		<real>0.125</real>
	</dict>
	<key>draw_polygon_line_width</key>
	<integer>1</integer>
	<key>geopackage_view_label</key>
	<string>View</string>
	<key>geopackage_delete_label</key>
	<string>Delete</string>
	<key>geopackage_rename_label</key>
	<string>Rename</string>
	<key>geopackage_copy_label</key>
	<string>Copy</string>
	<key>geopackage_copy_suffix</key>
	<string>_copy</string>
	<key>geopackage_share_label</key>
	<string>Share</string>
	<key>geopackage_create_label</key>
	<string>Create</string>
	<key>geopackage_create_features_label</key>
	<string>Create Features</string>
	<key>geopackage_create_tiles_label</key>
	<string>Create Tiles</string>
	<key>geopackage_table_view_label</key>
	<string>View</string>
	<key>geopackage_table_edit_label</key>
	<string>Edit</string>
	<key>geopackage_table_delete_label</key>
	<string>Delete</string>
	<key>geopackage_table_index_features_label</key>
	<string>Feature Index</string>
	<key>geopackage_table_index_features_index_title</key>
	<string>Index</string>
	<key>geopackage_table_index_features_index_geopackage_label</key>
	<string>GeoPackage Index</string>
	<key>geopackage_table_index_features_index_metadata_label</key>
	<string>Metadata Index</string>
	<key>geopackage_table_index_features_index_create_label</key>
	<string>Create</string>
	<key>geopackage_table_index_features_index_delete_label</key>
	<string>Delete</string>
	<key>geopackage_table_index_features_index_create_geopackage_label</key>
	<string>into the GeoPackage?</string>
	<key>geopackage_table_index_features_index_create_metadata_label</key>
	<string>into App Metadata?</string>
	<key>geopackage_table_index_features_index_delete_geopackage_label</key>
	<string>from the GeoPackage?</string>
	<key>geopackage_table_index_features_index_delete_metadata_label</key>
	<string>from App Metadata?</string>
	<key>geopackage_table_create_feature_tiles_label</key>
	<string>Create Tiles</string>
	<key>geopackage_table_add_feature_overlay_label</key>
	<string>Add Tile Overlay</string>
	<key>geopackage_table_tiles_load_label</key>
	<string>Load Tiles</string>
	<key>geopackage_table_linked_tables_label</key>
	<string>Linked Tables</string>
	<key>edit_features_info_label</key>
	<string>Info</string>
	<key>edit_features_edit_label</key>
	<string>Edit</string>
	<key>edit_features_delete_label</key>
	<string>Delete</string>
	<key>edit_features_clear_validation_label</key>
	<string>Unsaved Edits</string>
	<key>edit_features_clear_validation_message</key>
	<string>All unsaved feature edits will be lost</string>
	<key>edit_features_shape_point_delete_label</key>
	<string>Delete</string>
	<key>edit_features_shape_add_points_label</key>
	<string>Add Points</string>
	<key>edit_features_shape_add_hole_label</key>
	<string>Add Hole</string>
	<key>import_url_preloaded_label</key>
	<string>Preloaded</string>
	<key>import_url_error</key>
	<string>Download Error</string>
	<key>load_tiles_preloaded_label</key>
	<string>Preloaded</string>
	<key>clear_active_label</key>
	<string>Clear Active</string>
	<key>map_max_features</key>
	<string>Max Features</string>
	<key>map_max_features_message</key>
	<string>Set the max number of features to draw on the map</string>
	<key>map_max_features_default</key>
	<integer>1000</integer>
	<key>map_type</key>
	<string>Map Type</string>
	<key>map_type_standard</key>
	<string>Standard</string>
	<key>map_type_satellite</key>
	<string>Satellite</string>
	<key>map_type_hybrid</key>
	<string>Hybrid</string>
	<key>map_features_zoom_padding_percentage</key>
	<integer>10</integer>
	<key>map_tiles_zoom_padding_percentage</key>
	<integer>0</integer>
	<key>map_tiles_long_click_screen_percentage</key>
	<integer>8</integer>
	<key>map_feature_tiles_zoom_padding_percentage</key>
	<integer>10</integer>
	<key>edit_features_geometry_type_label</key>
	<string>Geometry Type</string>
	<key>edit_features_geometry_types</key>
	<array>
		<string>GEOMETRY</string>
		<string>POINT</string>
		<string>LINESTRING</string>
		<string>POLYGON</string>
		<string>MULTIPOINT</string>
		<string>MULTILINESTRING</string>
		<string>MULTIPOLYGON</string>
		<string>GEOMETRYCOLLECTION</string>
		<string>CIRCULARSTRING</string>
		<string>COMPOUNDCURVE</string>
		<string>CURVEPOLYGON</string>
		<string>MULTICURVE</string>
		<string>MULTISURFACE</string>
		<string>CURVE</string>
		<string>SURFACE</string>
	</array>
	<key>preloaded_geopackage_urls</key>
	<array>
		<dict>
			<key>label</key>
			<string>Natural Earth Rivers</string>
			<key>url</key>
			<string>http://ngageoint.github.io/GeoPackage/examples/rivers.gpkg</string>
			<key>name</key>
			<string>rivers</string>
		</dict>
		<dict>
			<key>label</key>
			<string>GDAL Sample</string>
			<key>url</key>
			<string>http://www.geopackage.org/data/gdal_sample.gpkg</string>
			<key>name</key>
			<string>gdal_sample</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Simple Sewers</string>
			<key>url</key>
			<string>http://www.geopackage.org/data/simple_sewer_features.gpkg</string>
			<key>name</key>
			<string>simple_sewer_features</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Haiti</string>
			<key>url</key>
			<string>http://www.geopackage.org/data/haiti-vectors-split.gpkg</string>
			<key>name</key>
			<string>haiti-vectors-split</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Belgium Geonames</string>
			<key>url</key>
			<string>http://www.geopackage.org/data/geonames_belgium.gpkg</string>
			<key>name</key>
			<string>geonames_belgium</string>
		</dict>
		<dict>
			<key>label</key>
			<string>ERDC Whitehorse</string>
			<key>url</key>
			<string>https://portal.opengeospatial.org/files/63156</string>
			<key>name</key>
			<string>erdc_whitehorse</string>
		</dict>
	</array>
	<key>preloaded_tile_urls</key>
	<array>
		<dict>
			<key>label</key>
			<string>GEOINT OpenStreetMap</string>
			<key>url</key>
			<string>http://osm.geointapps.org/osm/{z}/{x}/{y}.png</string>
			<key>name</key>
			<string>geoint_openstreetmap</string>
			<key>min_zoom</key>
			<integer>0</integer>
			<key>max_zoom</key>
			<integer>17</integer>
			<key>default_min_zoom</key>
			<integer>1</integer>
			<key>default_max_zoom</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>OpenStreetMap</string>
			<key>url</key>
			<string>http://a.tile.openstreetmap.org/{z}/{x}/{y}.png</string>
			<key>name</key>
			<string>openstreetmap</string>
			<key>min_zoom</key>
			<integer>0</integer>
			<key>max_zoom</key>
			<integer>17</integer>
			<key>default_min_zoom</key>
			<integer>1</integer>
			<key>default_max_zoom</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>MapQuest-OSM</string>
			<key>url</key>
			<string>http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png</string>
			<key>name</key>
			<string>mapquest_osm</string>
			<key>min_zoom</key>
			<integer>0</integer>
			<key>max_zoom</key>
			<integer>21</integer>
			<key>default_min_zoom</key>
			<integer>0</integer>
			<key>default_max_zoom</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>MapQuest Open Aerial</string>
			<key>url</key>
			<string>http://otile1.mqcdn.com/tiles/1.0.0/sat/{z}/{x}/{y}.png</string>
			<key>name</key>
			<string>mapquest_open_aerial</string>
			<key>min_zoom</key>
			<integer>0</integer>
			<key>max_zoom</key>
			<integer>21</integer>
			<key>default_min_zoom</key>
			<integer>0</integer>
			<key>default_max_zoom</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>nowCOAST</string>
			<key>url</key>
			<string>http://nowcoast.noaa.gov/wms/com.esri.wms.Esrimap/obs?service=wms%26version=1.1.1%26request=GetMap%26format=jpeg%26BBOX={minLon},{minLat},{maxLon},{maxLat}%26SRS=EPSG:4326%26width=256%26height=256%26Layers=world_countries,RAS_GOES,RAS_RIDGE_NEXRAD</string>
			<key>name</key>
			<string>nowCOAST</string>
			<key>min_zoom</key>
			<integer>0</integer>
			<key>max_zoom</key>
			<integer>21</integer>
			<key>default_min_zoom</key>
			<integer>0</integer>
			<key>default_max_zoom</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>preloaded_bounding_boxes</key>
	<array>
		<dict>
			<key>label</key>
			<string>NGA</string>
			<key>min_lat</key>
			<string>38.748123</string>
			<key>max_lat</key>
			<string>38.759038</string>
			<key>min_lon</key>
			<string>-77.202143</string>
			<key>max_lon</key>
			<string>-77.186146</string>
		</dict>
		<dict>
			<key>label</key>
			<string>BIT Systems</string>
			<key>min_lat</key>
			<string>39.719140</string>
			<key>max_lat</key>
			<string>39.720635</string>
			<key>min_lon</key>
			<string>-104.803478</string>
			<key>max_lon</key>
			<string>-104.801516</string>
		</dict>
	</array>
</dict>
</plist>
